<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <div class="container">
    <br>
    <h1 style="text-align:center; font-family:verdana;"><a>수정하기</a></h1>
    <hr>
    <br>
    <br>
    <div style="text-align:center" class="input-box">
        <form action="/modify" method="post">
            <h3>제목</h3>
            <input style="border: 2px solid DodgerBlue;" type="text" id="title" name="title" class="form-control"><br>
            <h3>내용</h3>
            <textarea style="border: 2px solid DodgerBlue;" type="text" id="content" name="content" id="content" class="form-control"></textarea>
            <br>

            <div class="form-row float-right">
            <button type="submit" class="btn btn-primary">수정</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>